/* RESET AND ROOT */ /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter-Regular";
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-Bold";
  src: url(../assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter-Extra-Bold";
  src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "Inter-Variable";
  src: url(../assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}
/* CUBE */
@font-face {
  font-family: "Inter-Regular";
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-Bold";
  src: url(../assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter-Extra-Bold";
  src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "Inter-Variable";
  src: url(../assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}
body {
  font-family: "Inter-Regular", sans-serif;
  background-color: hsl(36deg, 100%, 99%);
  color: hsl(236deg, 13%, 42%);
}

.container {
  width: min(1200px, 100% - 4rem);
  margin-inline: auto;
}

@media (max-width: 50em) {
  .container {
    width: min(1200px, 100% - 3rem);
  }
}
.main-grid {
  display: grid;
  gap: 2rem;
}

@media (min-width: 50em) {
  .grid-col-span-2 {
    grid-column: span 2;
  }
  .main-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.6fr 1fr;
  }
}
@font-face {
  font-family: "Inter-Regular";
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-Bold";
  src: url(../assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter-Extra-Bold";
  src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "Inter-Variable";
  src: url(../assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}
.heading-font-size-1 {
  font-size: 3.7rem;
}

.heading-font-size-2 {
  font-size: 2.4rem;
}

.heading-font-size-3 {
  font-size: 2rem;
}

.heading-font-size-4 {
  font-size: 1.25rem;
}

.heading-font-size-5 {
  font-size: 1.25rem;
}

.font-size-xs {
  font-size: 0.8rem;
}

.font-size-s {
  font-size: 1rem;
}

.font-size-m {
  font-size: 1.25rem;
}

.font-size-l {
  font-size: 2rem;
}

.font-size-xl {
  font-size: 2.4rem;
}

.font-size-xxl {
  font-size: 3.7rem;
}

.bold {
  font-family: "Inter-Bold", sans-serif;
}

.extra-bold {
  font-family: "Inter-Extra-Bold", sans-serif;
}

.color-white {
  color: hsl(36deg, 100%, 99%);
}

.color-blue-dark {
  color: hsl(240deg, 100%, 5%);
}

.color-grey-light {
  color: hsl(233deg, 8%, 79%);
}

.color-grey-dark {
  color: hsl(236deg, 13%, 42%);
}

.color-orange-light {
  color: hsl(35deg, 77%, 62%);
}

.color-orange-dark {
  color: hsl(5deg, 85%, 63%);
}

.background-white {
  background-color: hsl(36deg, 100%, 99%);
}

.background-blue-dark {
  background-color: hsl(240deg, 100%, 5%);
}

.background-grey-light {
  background-color: hsl(233deg, 8%, 79%);
}

.background-grey-dark {
  background-color: hsl(236deg, 13%, 42%);
}

.background-orange-light {
  background-color: hsl(35deg, 77%, 62%);
}

.background-orange-dark {
  background-color: hsl(5deg, 85%, 63%);
}

.a-white-orange {
  color: hsl(36deg, 100%, 99%);
}

.a-white-orange:hover {
  color: hsl(35deg, 77%, 62%);
}

.a-dark-orange {
  color: hsl(240deg, 100%, 5%);
}

.a-dark-orange:hover {
  color: hsl(5deg, 85%, 63%);
}

.hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@font-face {
  font-family: "Inter-Regular";
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-Bold";
  src: url(../assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter-Extra-Bold";
  src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "Inter-Variable";
  src: url(../assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}
/* ----- HEADER  &  MENU ----- */
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.primary-menu a {
  color: hsl(236deg, 13%, 42%);
}
.primary-menu a:hover {
  color: hsl(5deg, 85%, 63%);
}

.menu-mobile-button {
  display: none;
  z-index: 1;
}

main[menu-clicked] {
  padding-top: 6.5rem;
}

@media (max-width: 50em) {
  .primary-menu {
    display: none;
    position: absolute;
    inset: 0 0 0 30%;
    background-color: hsl(36deg, 100%, 99%);
  }
  .primary-menu ul {
    padding-top: 3rem;
    display: block;
  }
  .primary-menu ul li {
    padding-top: 1.5rem;
  }
  .primary-menu ul li a {
    color: hsl(240deg, 100%, 5%);
  }
  .header[data-overlay] {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .nav-list {
    display: grid;
    margin-top: 3rem;
    gap: 2rem;
    font-size: 1.25rem;
  }
  .nav-list a {
    margin-left: 12.5%;
  }
  .primary-menu[data-visible] {
    display: block;
  }
  .menu-mobile-button {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.5em;
  }
  .menu-mobile-button .menu-close {
    display: none;
  }
}
.menu-mobile-button[visibility] .menu-hamburger {
  display: none;
}
.menu-mobile-button[visibility] .menu-close {
  display: block;
}

/* ----- BANNER ITEM ----- */
.banner-title h1 {
  line-height: 1;
}

@media (max-width: 70em) {
  .banner-title h1 {
    font-size: 2.7rem !important;
  }
}
@media (max-width: 50em) {
  .banner-title h1 {
    font-size: 2.4rem !important;
  }
}
.banner-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5rem;
}

.banner-image img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 50em) {
  .banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .banner-image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
}
/* ----- NEWS BLOCK ----- */
.new-block {
  padding: 2rem;
}
.new-block h2 {
  padding-bottom: 1.5rem;
}
.new-block .new-item {
  margin-top: 1.5rem;
}
.new-block .new-item p {
  margin-top: 1.5rem;
}
.new-block hr {
  margin-top: 1.5rem;
}

@media (min-width: 50em) {
  .new-block {
    grid-column-start: 3;
    grid-row: 1/span 2;
  }
}
/* ----- BLOG BLOCK BOTTOM ----- */
.blog-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding-top: 3rem;
}

.blog-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}

.blog-item-text h4, .blog-item-text p {
  padding-top: 0.625rem;
}
.blog-item-text h4 {
  font-size: 1rem;
}

@media (max-width: 70em) {
  .blog-items .blog-item .blog-item-text p {
    font-size: 0.875rem;
  }
}
@media (min-width: 50em) {
  .blog-items {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blog-item {
    gap: 1.5rem;
  }
}
/* ----- BUTTON ----- */
.button-readmore {
  font-size: 0.8rem;
  color: hsl(36deg, 100%, 99%);
  font-weight: bold;
  background-color: hsl(5deg, 85%, 63%);
  letter-spacing: 0.3rem;
  border: none;
  width: 11.5rem;
  height: 3rem;
}

.button-readmore:hover {
  background-color: hsl(240deg, 100%, 5%);
  cursor: pointer;
}

@font-face {
  font-family: "Inter-Regular";
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-Bold";
  src: url(../assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter-Extra-Bold";
  src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "Inter-Variable";
  src: url(../assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}/*# sourceMappingURL=style.css.map */